[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = This is scripts repo
[access "refs/*"]
	owner = group user/Bala (balaramr)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Bala (balaramr)
	label-Verified = -1..+1 group user/Bala (balaramr)
	push = group user/Bala (balaramr)
	read = group user/Bala (balaramr)
	rebase = group user/Bala (balaramr)
	removeReviewer = group user/Bala (balaramr)
	submit = group user/Bala (balaramr)
[access "refs/heads/*"]
	create = group user/Bala (balaramr)
	push = +force group user/Bala (balaramr)
	pushMerge = group user/Bala (balaramr)
	read = group user/Bala (balaramr)
[access "refs/tags/*"]
	push = group user/Bala (balaramr)
	push = +force group user/Bala (balaramr)
